$background-image-home: url('../paysage-mer-terre.jpg');
$background-image-about: url('../paysage-montagne-foret.jpg');

.banner {
    background-image: $background-image-home;
    background-size: cover;
    background-position: center;
    height: 170px;

    &.home {
        filter: brightness(50%);
        .accroche {
            filter: none;
        }
    }
    &.about {
        background-image: $background-image-about;
        .accroche {
            display: none;
        }
      }
}
.accroche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 40px;
}