.cards{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF6060;
    margin: 15px;
    height: 200px;
    text-decoration: none;
}
.imageCards{
    width: 200px;
    border-radius: 10px;
    height: 100%;
}
.lesLogements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titreLocation {
    display: flex;
    align-items: end;
    height: 40%;
    color: white;
    text-align: left;
}
.coverCards {
    height: 60%;
}