.cards{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FF6060;
    margin: 15px;
    height: 200px;
}
.imageCards{
    width: 200px;
    border-radius: 10px;
    height: 110px;
}
.lesLogements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titreLocation {
    display: flex;
    align-items: end;
    height: 80px;
    text-decoration: none !important;
    color: white;
}