.CollapseButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-weight: bold;
    height: 35px;
    align-items: center;
    border-radius: 10px;
}
.collapseGlobal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.aboutPresentation {
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}