.numberError {
    font-size: 150px;
    color: #FF6060;
    font-weight: bold;
}
.oups {
    font-size: 36px;
    color: #FF6060;
}
.retourAccueil {
    color: black;
}
.elementsError {
    margin-top: 30px;
    margin-bottom: 30px;
}
.elementError {
    margin: 30px;
}