.AppEntete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navList{
    margin: 20px;
}
.AppLogoK{
    margin: 20px;
}