.AppEntete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
    align-items: center;
}
.navList{
    margin-left: 20px;
}
.routeEnTete {
    text-decoration: none;
    color: inherit;
}
.routeEnTete:hover {
    border-bottom: 2px solid;
}