.enteteLogement {
    display: flex;
    justify-content: space-between;
}
.tagRates {
    display: flex;
    justify-content: space-between;
}
.collapseLogement {
    display: flex;
    justify-content: space-between;
}